
@{
    ViewBag.Title = "Área do administrador";
}

<h2>Área do administrador</h2>

@Html.ActionLink("Cadastro do Aluno", "CadAluno", "Escola")
<br />
@Html.ActionLink("Cadastro do Professor", "CadProfessor", "Escola")
<br />
@Html.ActionLink("Atualizar Nome do Aluno", "AtNomeAluno", "Escola")
<br />
@Html.ActionLink("Atualizar Telefone do Aluno", "AtTelAluno", "Escola")
<br />
@Html.ActionLink("Atualizar Nome do Professor", "AtNomeProf", "Escola")
<br />
@Html.ActionLink("Consultar Alunos", "ConsultaAluno", "Escola")
<br />
@Html.ActionLink("Consultar Professores", "ConsultaProf", "Escola")
<br/>
@Html.ActionLink("Cadastrar Notas", "CadNota", "Escola")